@font-face {
  font-family: "HKI Nightlife";
  src: url(/fonts/hkinight.woff2) format("woff2"),
    url(/fonts/hkinight.woff) format("woff");
}

@font-face {
  font-family: "GRIFTER";
  src: url(/fonts/grifter-bold.woff2) format("woff2"),
    url(/fonts/grifter-bold.woff) format("woff");
}

@font-face {
  font-family: "D-DIN Exp";
  src: url(/fonts/d-dinexp.woff2) format("woff2"),
    url(/fonts/d-dinexp.woff) format("woff");
}
