/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  // font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
}

/* Hover element border */
.component-selected {
  position: relative;
  &::after {
    content: " ";
    border: 2px dashed #f50057;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
  }
}

/* Craftjs layers panel */
.layers-panel {
  font-weight: 400;
}

/* Radix components */
.alert-dialog-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.27);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.alert-dialog-content {
  width: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b1b1b;
  color: #f1f4f3;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.alert-dialog-input {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f1f4f3;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  &::placeholder {
    color: rgba(241, 244, 243, 0.6);
  }
}

.alert-dialog-trigger,
.alert-dialog-cancel,
.alert-dialog-action {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 6px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #f1f4f3;
  background-color: #1b1b1b;
  color: #f1f4f3;
  cursor: pointer;
  &:hover {
    background-color: #f1f4f3;
    color: #1b1b1b;
  }
  &:active {
    border-color: #afb6b4;
    background-color: #afb6b4;
    color: #1b1b1b;
  }
}