@font-face {
  font-family: "Newake";
  src: url(/fonts/newake.woff2) format("woff2");
}

@font-face {
  font-family: "Pragmatica";
  src: url(/fonts/pragmatica.woff2) format("woff2");
}

@font-face {
  font-family: "Free Sans";
  src: url(/fonts/free-sans.woff2) format("woff2");
}

@font-face {
  font-family: "GRIFTER";
  src: url(/fonts/grifter.otf) format("opentype");
}

@font-face {
  font-family: "Helvetica Now";
  src: url(/fonts/helvetica-now-micro-regular.otf) format("opentype");
}

@font-face {
  font-family: "Graphik";
  src: url(/fonts/graphik-normal-400.woff) format("woff");
}

@font-face {
  font-family: "DX Rigraf";
  src: url(/fonts/dxrigraf-semi-bold-expanded.otf) format("opentype");
}

@font-face {
  font-family: "HKI Nightlife";
  src: url(/fonts/hki-night.ttf) format("truetype");
}

@font-face {
  font-family: "Oskari G2";
  src: url(/fonts/oskari-g2-medium.otf) format("opentype");
}

@font-face {
  font-family: "BRRR";
  src: url(/fonts/brrr-skrrrt.woff) format("woff");
}

@font-face {
  font-family: "Space Mono Bold";
  src: url(/fonts/space-mono-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Monument Extended";
  src: url(/fonts/monument-extended-bold.woff) format("woff");
  font-weight: 900;
}

// * {
//   box-sizing: border-box;
// }

/* Box sizing rules */
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Prevent vertical scroll bounce */
html,
body {
  overflow: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
}

/* User component border on hover */
.component-selected {
  position: relative;
  &::after {
    content: " ";
    border: 2px dashed #f50057;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
  }
}

/* Craftjs layers panel */
.layers-panel {
  font-weight: 400;
}

/* Custom - will rearrange later */

button {
  cursor: pointer;
}

@keyframes spaceInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0.2) translate(0%, 200%);
    transform: scale(0.2) translate(0%, 200%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
}

.intro-subtitle {
  opacity: 0;
  animation: spaceInDown 0.8s ease forwards;
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.intro-title-1 {
  animation: bounce-in-top 0.8s linear both;
}
.intro-title-2 {
  animation: bounce-in-top 0.8s linear 0.2s both;
}
.intro-title-3 {
  animation: bounce-in-top 0.8s linear 0.4s both;
}
.intro-title-4 {
  animation: bounce-in-top 0.8s linear 0.6s both;
}
.intro-title-5 {
  animation: bounce-in-top 0.8s linear 0.8s both;
}
.intro-title-6 {
  animation: bounce-in-top 0.8s linear 1s both;
}
.intro-title-7 {
  animation: bounce-in-top 0.8s linear 1.2s both;
}
.intro-title-8 {
  animation: bounce-in-top 0.8s linear 1.4s both;
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

.portfolio-link {
  opacity: 0;
  animation: vanishIn 1.3s ease 2s forwards;
}

a {
  &:visited {
    color: #fff;
  }
}

// h1 {
//   font-family: "HKI Nightlife";
//   color: white;
//   font-size: 68px;
//   transform: rotate(0.75deg);
// }

/* Radix components */
// .alert-dialog-overlay {
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.27);
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .alert-dialog-content {
//   width: 650px;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: #1b1b1b;
//   color: #f1f4f3;
//   border-radius: 7px;
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
// }

// .alert-dialog-input {
//   appearance: none;
//   background-color: rgba(0, 0, 0, 0.8);
//   color: #f1f4f3;
//   border: 1px solid transparent;
//   border-radius: 5px;
//   padding: 4px;
//   margin-top: 10px;
//   font-size: 16px;
//   width: 100%;
//   &::placeholder {
//     color: rgba(241, 244, 243, 0.6);
//   }
// }

// .alert-dialog-trigger,
// .alert-dialog-cancel,
// .alert-dialog-action {
//   padding: 8px;
//   font-size: 14px;
//   font-weight: 500;
//   text-transform: uppercase;
//   border-radius: 6px;
//   border-width: 1.5px;
//   border-style: solid;
//   border-color: #f1f4f3;
//   background-color: #1b1b1b;
//   color: #f1f4f3;
//   cursor: pointer;
//   &:hover {
//     background-color: #f1f4f3;
//     color: #1b1b1b;
//   }
//   &:active {
//     border-color: #afb6b4;
//     background-color: #afb6b4;
//     color: #1b1b1b;
//   }
// }
